div.container
  = render 'search'
  table.table.table-striped
    tr
      td Полное имя
      td Страна
      td Время
      td Код заказа
      td Статус
      td
        | Цена покупки \ цена за почту (ls)
      td Удалить
    - @deals.each do |deal|
      tr
        td
          = link_to deal.full_name, admin_show_deal_path(id: deal.id)
        td = deal.country
        td
          = time_tag deal.created_at
        td = deal.deal_number
        td
          = link_to admin_checkout_deal_path(id: deal.id), method: :post, remote: true, class: 'checkout-status' do
            - if !deal.checked
              span.label.label-danger не обработан
            - else
              span.label.label-success обработан
        td
          = "Ls:#{deal.deal_price} || #{deal.mail_price}"
        td
          = link_to 'DESTROY', admin_destroy_deal_path(deal_id: deal.id), class: 'btn btn-danger', method: :delete, :confirm => 'Это точно неважная хрень?'

- content_for :javascript do
  javascript:
    $(function(){

      $('.checkout-status').on('ajax:success',function(event, xhr, settings){
        if (xhr.update == false)
          $(this).find('span').removeClass('label-success').addClass('label-danger').text('не обработан');
        else
          $(this).find('span').removeClass('label-danger').addClass('label-success').text('обработан');
      });
    });