div.container
  table.table.table-striped
    tr
      td Полное имя
      td = @deal.full_name
    tr
      td Эмайл
      td
        = mail_to @deal.email, @deal.email
    tr
      td Тел. номер
      td = @deal.tel_number
    tr
      td Страна
      td = @deal.country.capitalize
    tr
      td Город
      td = @deal.city.capitalize
    tr
      td Улица
      td = @deal.street
    tr
      td Почтовый индекс
      td = @deal.index
    tr
      td Комент к заказу
      td = @deal.comment
    tr
      td Номер сделки
      td = @deal.deal_number
    tr
      td Статус
      td
        = link_to admin_checkout_deal_path(id: @deal.id), method: :post, remote: true, id: 'checkout-status' do
          - if !@deal.checked
            span.label.label-danger не обработан
          - else
            span.label.label-success обработан
    tr
      td Заказанные изображения
      td
        ul.images
          - @deal.ordered_cards.each do |card|
            - next if card[1] == 0
            li
              = image_tag image_url("cards/preview/card_#{card[0][-1, 1]}_demo.png")
              span
                = card[1]

  = link_to 'back', :back
- content_for :javascript do
  javascript:
    $(function(){

      $(window).on('ajaxSuccess', function(event, xhr, settings){
        if (xhr.responseJSON.update == false)
          $('#checkout-status > span').removeClass('label-success').addClass('label-danger').text('не обработан');
        else
          $('#checkout-status > span').removeClass('label-danger').addClass('label-success').text('обработан');
      });
    });