<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title> <%= t('mail.title') %> </title>
  <style type="text/css">
    table{
      width: 800px;
      margin-left: auto; margin-right: auto;
    }

  </style>
</head>
<body style="margin: 0 auto 0 auto">

  <section style="margin: 0 auto 0 auto; width: 1000px; border: 1px solid black; border-radius: 4px;">
    <table>
      <tr>
        <td style="width:50%;">
          <b> SIA „Pamplemousse” </b>
          <br>
          <b> <%= t('mail.reg_nr') %> </b> 51503062861
          <br>
          <b> <%= t('mail.address') %> </b> Strādnieku ielā 5 - 2, Daugavpils
          <br>
          <b> <%= t('mail.tel') %> </b> +371 27622007
          <br>
          <b> <%= t('mail.email') %> </b> info@ivi.lv
        </td>
        <td style="width:50%;">
          <b> <%= t('mail.bank') %> </b> AS „TRASTA KOMERCBANKA”
          <br>
          <b> <%= t('mail.kont') %> </b> LV53KBRB1111225530001
          <br>
          <b> SWIFT: </b> KBRBLV2X
          <br>
          <b> <%= t('mail.rek_dat') %> </b> <%= DateTime.now.to_formatted_s(:sort) %>
          <b> <%= t('mail.apm_lidz') %> </b> 31 Dec 2013
        </td>
      </tr>
    </table>

    <hr>

    <table>
      <tr>
        <td style="width:50%;">
          <b> Maksātājs: </b>
          <br>
          <%= @params[:deal].full_name %>
          <br>
          <%= @params[:deal].street %>
          <br>
          <%= @params[:deal].city %>
          <br>
          <%= @params[:deal].country %>
          <br>
          <%= @params[:deal].tel_number %>
        </td>
        <td style="width:50%;">
          <b> <%= t('mail.apm_veids') %> </b> <%= t('mail.parveids') %>
          <br>
          <b> <%= t('mail.pieg_veids') %> </b> <%= t('mail.express') %>
        </td>
      </tr>
    </table>

    <hr>

    <table>
      <tr>
        <td>
          <b style="font-size: 25px;"> <%= t('mail.preces')%> </b>
        </td>
      </tr>
    </table>

    <table>
        <td style="width: 23%;">
          <b> <%= t('mail.nosaukums')%> </b>
        </td>
        <td style="width: 50%;">
          <b> <%= t('mail.daudzums')%> </b>
        </td>
        <td style="width: 15%;">
          <b> <%= t('mail.cena')%> </b>
        </td>
      </tr>

      <% @params[:cards].each_with_index do |card, index| %>
        <% next if card == 0 %>
        <tr>
          <td>
            <%= image_tag ('http://cards.ivi.lv:/' + image_url("cards/preview/card_#{index+1}_demo.png")), style: 'width: 100px; height: auto;' %>
          </td>
          <td>
            <p> <%= card %> </p>
          </td>
          <td>
            <p> <%= @params[:cards_prices]["card#{index+1}"] %> </p>
          </td>
        </tr>
      <% end %>
    </table>
    <div style="width: 100%; text-align: center;">
      <%= "Плата за доставку: #{ @params[:current_mail_price] }" %>
    </div>
    <table>
      <tr>
        <td>
          <p style="margin-left: 434px; width: 136px;"> <b><%= t('mail.kopa')%> </b> <%= "#{number_to_currency( @params[:total_price][:lv], unit: 'Ls', precision: 2)} / #{number_to_currency( @params[:total_price][:lv] * 1.42, unit: '€', precision: 2)}"%> </p>
        </td>
      </tr>
    </table>

    <table>
      <tr>
        <td style="text-align: center; color: red;">
          <h2> <%= "#{t('mail.rek_info')} #{@params[:deal].deal_number}" %></h2>
        </td>
      </tr>
    </table>
  </section>
</body>
</html>