- show_link_to_deal ||= false
section.envelope
  = image_tag image_url('envelope2.png')
  ul.count_menu id="card1-count-menu"
    li.dec
      = link_to '-', ajax_remove_from_basket_path(card_id: 'card1'), remote: true
    li.count
      = count_of_specify_card 'card1'
    li.inc
      = link_to '+', ajax_add_to_basket_path(card_id: 'card1'), remote: true

  ul.count_menu id="card2-count-menu"
    li.dec
      = link_to '-', ajax_remove_from_basket_path(card_id: 'card2'), remote: true
    li.count
      = count_of_specify_card 'card2'
    li.inc
      = link_to '+', ajax_add_to_basket_path(card_id: 'card2'), remote: true

  ul.count_menu id="card3-count-menu"
    li.dec
      = link_to '-', ajax_remove_from_basket_path(card_id: 'card3'), remote: true
    li.count
      = count_of_specify_card 'card3'
    li.inc
      = link_to '+', ajax_add_to_basket_path(card_id: 'card3'), remote: true

  h3
    = t 'summ'
    | &nbsp
    span id="total-price"
      = current_price_for_bucket
    span.delivery-payment
      = t 'delivery'
      | &nbsp
      span.blue-summ-text id="total-mail-price"
        = current_mail_price
  - if show_link_to_deal
    = link_to t('go_to_text'), iwantthiscards_path, class: 'btn'
    h2 = t 'payment_by_bank'

- content_for :javascript do
  javascript:
    var $cardsMenu = [{
      count: $('#card1-count-menu > li.count').text(),
      body: $('#card1-count-menu'),
      counter:  $('#card1-count-menu > li.count')
    },{
      count: $('#card2-count-menu > li.count').text(),
      body: $('#card2-count-menu'),
      counter:  $('#card2-count-menu > li.count')
    },{
      count: $('#card3-count-menu > li.count').text(),
      body: $('#card3-count-menu'),
      counter:  $('#card3-count-menu > li.count')
    }];
    $totalPrices = {
      mail_price: $('#total-mail-price'),
      total_price: $('#total-price')
    };

    $(window).ready(function (){
      $.each( $cardsMenu, function (index, value){
        value.body.on('ajax:success', function (event, request, settings){
          value.counter.text(request.count);
          $totalPrices.mail_price.text(request.mail_price_text);
          $totalPrices.total_price.text(request.total_price_text);
        });

      });

    });