/ ul
/   - @cards.each do |card|
/     li 
/       = image_tag card[0].image.url
/       = card[0].title
/       = card[0].description
/       = link_to "delete from cart", delete_from_cart_path(card_id: card[0].identifier), remote: true, method: :post
/       br
/       = card[1]

section.home
  ul
    - @cards.each do |card|
      li
        = link_to card[0].image.url, title: card[0].title, class: 'fancybox' do
          = image_tag card[0].image.url
        = link_to "delete from cart", delete_from_cart_path(card_id: card[0].identifier), method: :post, class: "delete-from-cart"