section.content.hidden
  section.home
    header
      section.logo style="background: url('#{image_url('logo_' + I18n.locale.to_s + '.png')}') no-repeat;"
    div.languages
      = link_to 'LV', set_language_path(language: 'lv'), method: :post, remote: true
      =<> link_to 'РУС', set_language_path(language: 'rus'), method: :post, remote: true
    ul.cards
      li
        = link_to image_url('cards/preview/card_1_demo.png'), class: 'fancybox' do
          = image_tag image_url('cards/board/card_1.png')
      li
        = link_to image_url('cards/preview/card_2_demo.png'), class: 'fancybox' do
          = image_tag image_url('cards/board/card_2.png')
      li
        = link_to image_url('cards/preview/card_3_demo.png'), class: 'fancybox' do
          = image_tag image_url('cards/board/card_3.png')

    ul.add-buttons
      li
        = link_to t('to_envelope'), ajax_add_to_basket_path(card_id: 'card1'), class: 'to-envelope', id:"card1_to_basket", remote: true
      li
        = link_to t('to_envelope'), ajax_add_to_basket_path(card_id: 'card2'), class: 'to-envelope', id:"card2_to_basket", remote: true
      li
        = link_to t('to_envelope'), ajax_add_to_basket_path(card_id: 'card3'), class: 'to-envelope', id:"card3_to_basket", remote: true

    figure.shelf

    aside
      dl
        dt = t 'pricing'
        dd
          span = "#{t('one_card')}............Ls0.80/€1.14"
          span = "#{t('three_cards')}.............Ls2.10/€2.98"
          span = "#{t('nine_cards')}........Ls6.15/€8.73"

        dt = t'about_cards'
        dd
          span = t 'size'
          span = t 'material'

          span = t 'made_in_latvia'

        dt = t 'artists'
        dd
          = link_to t('dmitry'), 'http://dmitri.ivi.lv', target: '_blank'
          = link_to t('tom'), 'http://tomsvfx.blogspot.com', target: '_blank'
          = link_to t('anna'), 'http://www.behance.net/annakislitsona', target: '_blank'
          = link_to t('nikita'), 'http://www.flickr.com/photos/76969646@N08/', target: '_blank'

    section.content
      = render 'envelope', show_link_to_deal: true

    div.clearfix
    h2
      = t 'if_you_want_to_place.first'
      =<> mail_to 'dmitri@ivi.lv', 'dmitri@ivi.lv'
      = t 'if_you_want_to_place.last'
footer
  figure
  figure.big
  section.content
    | &copy;SIA &laquo;Pamplemouse&raquo; 2013
    /p Также открытки можно приобрести в Даугавпилсе, в т/ц Ditton Nams 14.v.69., Cietokšņa iela 60 (напротив эскалатора).

- content_for :javascript do
  javascript:
    $(function () {
      $cardsButtons = {
        card1Button: $('#card1_to_basket'),
        card2Button: $('#card2_to_basket'),
        card3Button: $('#card3_to_basket'),
      };
      $counters = {
        'card1Button': $('#card1-count-menu > li.count'),
        'card2Button': $('#card2-count-menu > li.count'),
        'card3Button': $('#card3-count-menu > li.count')
      };
      $.each( $cardsButtons, function ( index, value){
        value.on('ajax:success', function(event, request, settings){
          $counters[index].text(request.count);
          $totalPrices.mail_price.text(request.mail_price_text);
          $totalPrices.total_price.text(request.total_price_text);
        });
      });
    });
