= simple_form_for @deal do |form|
  div.inner
    h2 Оформление заказа
    = form.input :full_name, label: t('name')
    = form.input :country, as: :select, collection:  @countries, selected: :latvia, label: t('country'), prompt: "Выберите вашу страну"
    = form.input :city, label: t('city')
    = form.input :index, label: t('index'), input_html: { style: "#{'margin-left: 87px;' if I18n.locale.to_s == 'lv'}" }
    = form.input :street, as: :text, label: t('address')

    = form.input :email, label: t('email')

    = form.input :comment, as: :text, label: t('comment')
    div.submit
      = form.submit t('submit'), class:'submit'
      p
        => t 'pricing_info'

    div.clearfix

