section.admin-panel
  ul
    li Дата
    li Страна
    li Кол. заказанных карточек
    li Статус
    hr
    - @deals.each do |deal|
      li 
        =  time_ago_in_words deal.created_at.to_s
      li
        = deal.country
      li
        = deal.count_of_cards
      li
        = deal.verify == true ? 'Отослано' : 'Не отослано'
      hr



