section.content
  section.checkout-content
    header
      section.logo style="background: url('#{image_url('logo_' + I18n.locale.to_s + '.png')}') no-repeat;"
    div.languages style="left: 70%;"
      = link_to 'LV', set_language_path(language: 'lv'), method: :post, remote: true
      =<> link_to 'РУС', set_language_path(language: 'rus'), method: :post, remote: true
  = render 'home/envelope', show_link_to_deal: false
  = render 'form'


footer
  figure
  figure.big
  section.content
    | &copy;SIA &laquo;Pamplemouse&raquo; 2013
