section.checkout-success
  h3
    => t('success_text')
    br
    span.red =< t 'alert'
    br
    a href='http://cards.ivi.lv'
      | cards.ivi.lv
  = link_to t('go_to_main'), root_path, class: 'return-home'
