= simple_form_for [:admin, @card] do |f|
  = f.input :title
  = f.input :description, as: :text
  = f.input :price, as: :integer,input_html: { min: 0 }, label: "Price in cents!!!"
  = f.input :image, label: "Card image: "
  = f.submit