section.cards
  
  ul
    - @cards.each do |card|
      li
        = image_tag card.image.url
        h3 
          = card.title
        = button_to "[edit]", edit_admin_card_path(card), method: :get
        = button_to "[delete]", admin_card_path(card),class: 'destroy', method: :delete
    li.new
      = link_to 'ADD CARDS', new_admin_card_path