@import "bourbon";
@import "variables";
@import "bootstrap";

section.cards{
  ul{
    li{
      position: relative;
      margin: 20px 20px 20px -20px;
      padding: 0 0 0 20px;
      display: inline;
      float: left;
      img{
        width: 200px; height: 226px;
        @include box-shadow(0 0 20px 3px hsla(0, 0%, 0%, 0.65));
      }
      h3{
        margin: 5px 0 0 5px;
        text-align: center;
        font-weight: normal;
      }
      form{ text-align: center; }
      input{
        border: 1px solid rgb(163, 163, 163);
        border-radius: 0px;
        font-size: 12px;
        text-decoration: none;
        color: black;
        &.destroy {
          background-color: red;
        }
      }

      &.new{
        margin-left: 20px;
        padding: 0;
        border: 1px solid black;
        text-align: center;
        width: 200px;
        height: 226px;
        background-color: #dddddd;
        a{
          top: 40%;
          position: relative;
        }
      }
    }
  }
}

ul.images {
  li {
    display: inline-block;
    width: 250px; height: auto;
    img{ width: 100%; height: 100%; }
    text-align: center;
  }
}