html {
  opacity: 0;
  @include transition ( opacity 0.5s ease-in);
}
body {
  display: block;
}
// .hidden{
//   opacity: 0;
// }
// .show{
//   opacity: 1;
//   @include transition( opacity 1.5 fade-in);
// }
body{
  margin: 0 0 0 0;
  padding: 0 0 100px 0;
  background: image-url('http://dmitri.photography/pattern.png');
  height: 100%;
  min-height: 100%;
  position: relative;
  min-width: 1200px;
  &:before{
    display: block;
    padding: 0; margin: 0;
    position: absolute; top: -93px;
    width: 100%; min-width: 1200px;
    height: 5px;
    background-color: white;
    content: ' ';
  }
  &:after{
    display: block;
    padding: 0; margin: 0;
    position: absolute; top: -83px;
    width: 100%; min-width: 1200px;
    height: 5px;
    background-color: white;
    content: ' ';
  }
}
header{
  section.logo{
    width: 430px; margin-left: auto; margin-right: auto;
    height: 158px;
  }
  color: white;
  font-family: $neucha;
  font-size: 55px;
  text-align: center;
  margin: 93px 0 90px 0;
}
.card{
  width: auto;
  height: 361px;
}
section.content{
  width: 1200px;
  margin: 0 auto 0 auto;
  margin-bottom: 100px;
}
footer{
  position: absolute; bottom: 0; left: 0;
  clear: both;
  display: block;
  height: 90px; min-width: 100%; width: 100%;
}
div.clearfix{
  clear: both;
}
.image1{
  @include box-shadow(0 0 21px 1px #474e51);
  z-index: 311;
  position: absolute;
  top: 104px; left: 338px;
  @include transform(rotate(25deg));
  width: 200px; height: auto;
  img{ width: 200px; height: auto; }
  a{ z-index: 100;}
}
.image2{
  @include box-shadow(0 0 21px 1px #474e51);
  z-index: 312;
  position: absolute;
  top: 145px; left: 213px;
  @include transform(rotate(0deg));
  width: 200px; height: auto;
    img{ width: 200px; height: auto; }

}
.image3{
  @include box-shadow(0 0 21px 1px #474e51);
  z-index: 311;
  position: absolute;
  top: 108px; left: 107px;
  @include transform(rotate(-18deg));
  img{ width: 200px; height: auto; }
}
footer{
  background: $light-grey-text-color;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  >.content{
    line-height: 50px;
    z-index: 4;
    height: 50px;
    margin-bottom: 0; text-align: center;
  }
  p { font-family: $georgia; color: $blue-text-color; font-size: 17px;}
  &:before{
    content: "";
    display: block;
    position: absolute; top: -7px;
    width: 100%;
    height: 4px;
    background: $light-grey-text-color;
  }
}
ul.count_menu{
  z-index: 100;
  padding: 0; margin: 0;
  position: absolute;
  @include transform(rotate(-1deg));
  li{
    float: left;
    list-style: none;
    &.inc{
      @include linear-gradient(#c5e19c, #5c9c28);
    }
    &.dec{
      @include linear-gradient(#eac0ac, #b1543b);
    }
    &.inc, &.dec{
      color: red;
      font-family: $georgia; font-weight: bold;
      font-size: 22px; color: white;
      line-height: 25px; margin-top: 7px;
      display: block;
      width: 25px; height: 25px;
      // background: #e29816;

      border-radius: 32px;
      display: inline-block;
      a{ z-index: 9999; text-decoration: none;  display: block !important; color: white;
        padding-right: 2px;
      }
      // &:hover{
      //   border: 2px solid red;
      // }
    }
    &.count{
      margin: 0 15px 0 15px;
      font-size: 20px; color: black;
      font-family: $neucha; font-weight: bold;
      width: 40px; height: 40px;
      background: white;
      display: block;
      border-radius: 32px;
      line-height: 41px;
    }
  }
}
#card1-count-menu {
  top: 50px; left: 38px;
}
#card2-count-menu {
  top: 28px; left: 252px;
}
#card3-count-menu {
  top: 50px; left: 452px;
}

section.envelope{
  width: 626px; height: 500px;
  margin: 0 auto 0 auto;
  display: block;
  position: relative;
  text-align: center;
  ul { text-align: center;  }
  h2 {
    text-align: center; position: absolute;
    bottom: -170px; color: white; font-size: 18px; font-family: $georgia; font-weight: normal;
  }
  h3{
    position: relative; top: -115px;
    z-index: 9999;
    font-family: $georgia;
    font-size: 30px;
    font-weight: normal;
    color: #42475c;

    span.blue-summ-text{
      color: #555e9c;
    }
    span.delivery-payment{
      line-height: 50px;
      display: block;
      font-size: 18px;
      font-weight: normal;
    }
  }
  a.btn {
    bottom: -90px; right: 140px;
    @include button(#e7a621); position: absolute;
    width: 300px;
    height: 35px;
    font-size: 20px;
    line-height: 38px;
    font-weight: normal;
    @include box-shadow( 0 0 21px 3px #474747);
  }


}
