.red {
  color: red;
}
div.languages {
  position: absolute; top: 50px;
  left: 80%;
  a {
    @include button(pill, red);
  }
}

section.admin {
  width: 400px; height: 400px;
  position: absolute;
  top: 50%; left: 50%;
  margin: -200px 0 0 -200px;
  background-color: white;
  // font-family: $stroke;
  border-radius: 15px;
  @include box-shadow(0 0 20px 3px hsla(0, 0%, 0%, 0.65));

  form {
    margin-top: 40px;
    text-align: center;
    input {
      border: 1px solid rgb(163, 163, 163);
      border-radius: 4px;
      width: 300px;
      margin: 10px 0 10px 0;
    }
    label { display: block; }
    textarea {
      width: 300px; max-width: 300px;
      max-height: 80px;
      border: 1px solid rgb(163, 163, 163);
      border-radius: 4px;
    }
  }
}
section.cards {
  ul {
    li {
      position: relative;
      margin: 20px 20px 20px -20px;
      padding: 0 0 0 20px;
      display: inline;
      float: left;
      img {
        width: 200px; height: 226px;
        @include box-shadow(0 0 20px 3px hsla(0, 0%, 0%, 0.65));
      }
      h3 {
        margin: 5px 0 0 5px;
        text-align: center;
        font-weight: normal;
      }
      form { text-align: center; }
      input {
        border: 1px solid rgb(163, 163, 163);
        border-radius: 0px;
        font-size: 12px;
        text-decoration: none;
        color: black;
        &.destroy {
          background-color: red;
        }
      }

      &.new {
        margin-left: 20px;
        padding: 0;
        border: 1px solid black;
        text-align: center;
        width: 200px;
        height: 226px;
        background-color: #dddddd;
        a {
          top: 40%;
          position: relative;
        }
      }
    }
  }
}
section.home {
  position: relative;

  ul.add-buttons {
    padding: 0; margin: 0px;
    margin-left: -98px;
    li {
      padding-top: 23px;
      margin-left: 11px;
      width: 345px;
      text-align: center;
      display: inline-block;
      a {
        position: relative; left: 46px;
        @include button(#e7a621);
        line-height: 12px; font-size: 18px; font-weight: normal; width: 80px; height: 15px;
      }
    }
  }

  ul.cards {
    text-align: center;
    padding: 0; margin: 0;
    margin-left: -98px;
    li {
      width: 345px; height: 370px;
      z-index: 1;
      display: inline-block; position: relative;
      text-align: center;
      margin-left: 11px;
      span {
        display: block;
        margin-top: 43px;
        a { }
      }

      img {
        width: 100%; height: auto;
      }
    }
  }
  figure.shelf {
    text-align: center;
    position: absolute;
    top: 40px; left: 6px;
    z-index: -100;
    width: 100%;
    height: 1127px;
    margin: 0;
    background: image-url('shelf.png') no-repeat center center;
  }
  text-align: center;
  > h2 {
    font-family: $neucha;
    font-size: 30px;
    font-weight: lighter;
    color: white;
    margin: 115px auto 0 auto;
    width: 1000px;

    a {
      font-family: $neucha;
      font-size: 32px;
      color: #e7a621;
    }
  }

  aside {
    text-align: left;
    margin: 80px 0 0 120px;
    float: left;
    dl {
      margin: 0;
      display: block;
      color: white;
      dt {
        font-size: 30px;
        margin-top: 60px;
        font-family: $neucha;

      }
      dd {
        font-family: $georgia;
        margin: 20px 0 0 0;
        font-size: 17px;
        span { display: block; margin-top: 15px; }
        a { display: block; color: #fcd15f; margin-top: 15px; }
      }
    }
  }
  section.content {
    width: auto;
    float: right;
    text-align: center;
    section.envelope {
      margin-top: 160px; margin-right: 115px;

      width: 626px; height: 499px;
      position: relative;
      figure { margin: 0;  z-index: 100;}
      h4 {
        z-index: 322;
        text-align: center; position: relative; top: 400px;
        font-family: $georgia; color: $dark-blue-text-color;
        font-size: 18px;
      }
    }
  }
}
section.content {
  section.checkout {
    display: absolute;
    section.cardsedit {
      display: block; position: relative; width: 100%; height: 500px;
    }
  }
}
section.checkout-success {
  display: block;
  width: 500px;
  height: 300px;
  position: absolute;
  top: 50%; left: 50%;
  margin-left: -250px; margin-top: 150px;
  border: 1px solid #c7c7c7; background-color: white; border-radius: 10px;
  @include box-shadow(0 0 29px 2px #c7c7c7);
  h3 {
    padding-top: 92px;
    padding-left: 20px; padding-right: 20px;
    font-family: $neucha;
    text-align: center;
  }
  text-align: center;

  .return-home {
    font-family: $neucha;
  }
}
