$neucha: 'Neucha', sans-serif;
$georgia: 'Georgia', sans-serif;

$white-text-color: white; 
$dark-blue-text-color: #42475c;
$blue-text-color: #707381;
$blue-shadow-color: #515468;
$light-grey-text-color: #f4f4f5;

$footer_height: 100px;