<!DOCTYPE html>
<html>
<head>
  <title>WinterCards</title>
  <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Neucha&subset=latin,cyrillic', media: "all"%>
  <%= stylesheet_link_tag    "admin", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "admin", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= yield %>
</body>
<%= yield :javascript %>

</html>
