<!DOCTYPE html>
<html style="opacity: 0;">
<head>
  <title><%= t 'title' %></title>
  <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Neucha&subset=latin,cyrillic', media: "all"%>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>



  <%= csrf_meta_tags %>
</head>
<body class="hidden">
  <%= yield %>
</body>

<%= javascript_include_tag "application", "data-turbolinks-track" => true %>

<%= yield :javascript %>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-46396309-1', 'ivi.lv');
  ga('send', 'pageview');

</script>

</html>
